<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kr328.nevo.decorators.smscaptcha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar">
        <service
            android:name=".SmsCaptchaDecoratorService"
            android:description="@string/main_service_description"
            android:label="@string/main_service_name"
            android:permission="com.oasisfeng.nevo.permission.BIND_DECORATOR_SERVICE"
            android:process="com.oasisfeng.nevo.decorators">
            <intent-filter android:priority="5">
                <action android:name="com.oasisfeng.nevo.Decorator" />
            </intent-filter>

            <meta-data
                android:name="packages"
                android:value="com.android.messaging|com.google.android.apps.messaging|com.android.mms" />
            <meta-data
                android:name="settings.receiver"
                android:value="ScreenshotDecoratorSettingsReceiver" />
        </service>
    </application>

</manifest>